# Copy and edit this file to configure different gateways to run

# Global configuration
MACHINE_ID=xyz

# OpenTelemetry configuration
OTEL_HOST=signoz-otel-collector
OTEL_PORT=4317
OTEL_SERVICE_NAME=gaia-gateways
OTEL_DEPLOYMENT_ENVIRONMENT=development

# OPC UA configuration
OPCUA_HOST=srv-xyz
OPCUA_PORT=4840
OPCUA_USERNAME=
OPCUA_PASSWORD=
OPCUA_MONITORED_ITEMS=ns=2;s=Channel1.Device1.InAlarm|ns=2;s=Channel1.Device1.InBypass|ns=2;s=Channel1.Device1.InCycle|ns=2;s=Channel1.Device1.InWarning

# MQTT configuration
MQTT_HOST=gaia-emqx
MQTT_PORT=1883
MQTT_TOPIC=dev/gaia/xyz/
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_USE_TLS=false
MQTT_TRANSPORT=tcp

# MESAPI configuration
MESAPI_BASE_URL=http://gaia-mesapi-http-server:8000/active-order-id